.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(61,52,209);
  background: linear-gradient(180deg, rgba(61,52,209,1) 16%, rgba(0,212,255,1) 95%);
}

h1 {
  color: #ffc107;
  font-size: 65px;
  font-family: 'Roboto', sans-serif;
}

.container2 {
  display: flex;
  width: 80vw;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search {
	background-color:#ffd740;
	border-radius: 0px 5px 5px 0px;
	display:inline-block;
	cursor:pointer;
	color: #000000;
	font-family: 'Roboto', sans-serif;
	font-size:30px;
	padding:10px 30px;
  text-decoration:none;
  outline: none;
}

.search:hover {
  background-color:black;
  color: white;
}


.field {
  border-radius: 5px 0px 0px 5px;
  border: 1px solid white;
  padding: 10px;
  font-size: 30px;
  outline-color: #ffffff;
}

.field:focus {
  outline: none;
}
